/*:root {
  --bs-body-bg: #aaa1c8;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 1)
  );
}*/
html,
body {
  background-image: linear-gradient(to bottom, #967aa1, #dbcbe1);
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: cursive, italic;
  margin: 1;
  padding: 0;
  color: #192a51;
}
h1 {
  color: rgb(2, 42, 27);
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
a {
  color: rgb(162, 56, 56);
}
.erotimatologio {
  font-size: larger;
  text-align: center;
}
#home {
  text-align: center;
}
.quiz_body {
  font-size: large;
  font-weight: 200;
}

.text-center {
  text-overflow: clip;
}
#myButton {
  background-color: rgb(209, 60, 159);
  color: aqua;
}
.finalResult {
  text-align: center;
  color: rgb(199, 24, 24);
}
.option_group {
  margin: 0 5px;
}

#quiz-body {
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
}

/*button.option {*/
/*  background-color: #f5e6e8;*/
/*  border: 1px solid #bab6b6;*/
/*  border-radius: 5px;*/
/*  padding: 10px;*/
/*  font-size: 16px;*/
/*  cursor: pointer;*/
/*  transition: background-color 0.2s ease-in-out;*/
/*  width: 50%;*/
/*  box-sizing: border-box;*/
/*}*/
/*button.option:hover {*/
/*  background-color: #ccc;*/
/*}*/
/*.btn {*/
/*  color: red;*/
/*}*/
