:root {
  background-color: rgb(184, 160, 187);
  font-size: 200%;
}

* {
  box-sizing: border-box;
  font-family: cursive, italic;
  margin: 1;
  padding: 0;
  color: black;
}
h1 {
  color: rgb(2, 42, 27);
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
a {
  color: brown;
}
.erotimatologio {
  font-size: larger;
  text-align: center;
}
#home {
  text-align: center;
}
.quiz_body {
  font-size: large;
  font-weight: 200;
}

.text-center {
  text-overflow: clip;
}
#myButton {
  background-color: rgb(237, 232, 160);
}
.finalResult {
  text-align: center;
  color: rgb(164, 67, 67);
}
